<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css"/>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

</head>
<body>
    <div class="MyContainer">
        <div class="RedColor">

        </div>
            @RenderBody()
        
        <div class="RedColor">

        </div>
    </div>
</body>
</html>
