@{ 
    Layout = "_HomeLayout";
}


<div>
    <form asp-controller="Donators" asp-action="Index">
        <h3 id="Login">Username</h3>
        <input class="LoginTextBox" style="transform:translateX(50%)"type="text" />
        <h3 style="transform:translate(0, 10%)"id="Login">Password</h3>
        <input class="LoginTextBox" style="transform:translate(50%, 15%)" type="text" />
        <input style="transform:translate(-50%, 150%)" type ="submit" class="btn btn-primary" />
    </form>
</div>

