@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}


<div>
    <a asp-controller="Accounts" asp-action="Login"><h6 style="transform:translate(0, 20vh)" id="Login">Login!</h6></a>

    <a asp-controller="Accounts" asp-action="Create"><h6 style="transform:translate(0, 40vh)" id="Login">Register</h6></a>

</div>
